{
    "presets": ["es2015"],
    "plugins": [
        "syntax-async-functions",
        "transform-regenerator",
        "transform-runtime",
        "add-module-exports",
        "transform-function-bind"
    ]
}
